{"swagger":"2.0","info":{"title":"HPP","version":"1.0"},"host":"hpp.aarons.com","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/CreateSession/2":{"get":{"tags":["CreateSession"],"operationId":"CreateSession2_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionItem","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["CreateSession"],"operationId":"CreateSession2_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionItem","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateSession"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["CreateSession"],"operationId":"CreateSession2_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionItem","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateSession"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["CreateSession"],"operationId":"CreateSession2_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionItem","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/AuthorizeSession":{"get":{"tags":["AuthorizeSession"],"operationId":"AuthorizeSession_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AuthorizeSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["AuthorizeSession"],"operationId":"AuthorizeSession_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AuthorizeSession"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AuthorizeSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["AuthorizeSession"],"operationId":"AuthorizeSession_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AuthorizeSession"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AuthorizeSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["AuthorizeSession"],"operationId":"AuthorizeSession_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AuthorizeSessionResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/CustomerData/2":{"get":{"tags":["CustomerData"],"operationId":"CustomerData2_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"Email","in":"query","type":"string"},{"name":"ApplicationId","in":"query","type":"integer","format":"int32","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"},{"name":"Language","in":"query","type":"string"},{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerDataResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["CustomerData"],"operationId":"CustomerData2_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"Email","in":"query","type":"string"},{"name":"ApplicationId","in":"query","type":"integer","format":"int32","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"},{"name":"Language","in":"query","type":"string"},{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CustomerData"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerDataResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["CustomerData"],"operationId":"CustomerData2_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"Email","in":"query","type":"string"},{"name":"ApplicationId","in":"query","type":"integer","format":"int32","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"},{"name":"Language","in":"query","type":"string"},{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CustomerData"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerDataResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["CustomerData"],"operationId":"CustomerData2_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"Email","in":"query","type":"string"},{"name":"ApplicationId","in":"query","type":"integer","format":"int32","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"},{"name":"Language","in":"query","type":"string"},{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CustomerDataResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/MemoryBearerToken":{"get":{"tags":["MemoryBearerToken"],"operationId":"MemoryBearerToken_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryBearerTokenResponse"}}},"deprecated":false},"put":{"tags":["MemoryBearerToken"],"operationId":"MemoryBearerToken_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/MemoryBearerToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryBearerTokenResponse"}}},"deprecated":false},"post":{"tags":["MemoryBearerToken"],"operationId":"MemoryBearerToken_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/MemoryBearerToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryBearerTokenResponse"}}},"deprecated":false},"delete":{"tags":["MemoryBearerToken"],"operationId":"MemoryBearerToken_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryBearerTokenResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/MemoryTokenGuid":{"get":{"tags":["MemoryTokenGuid"],"operationId":"MemoryTokenGuid_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryTokenGuidResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["MemoryTokenGuid"],"operationId":"MemoryTokenGuid_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/MemoryTokenGuid"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryTokenGuidResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["MemoryTokenGuid"],"operationId":"MemoryTokenGuid_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/MemoryTokenGuid"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryTokenGuidResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["MemoryTokenGuid"],"operationId":"MemoryTokenGuid_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/MemoryTokenGuidResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/SaveDeviceIntelligence":{"get":{"tags":["SaveDeviceIntelligence"],"operationId":"SaveDeviceIntelligence_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"DeviceId","in":"query","type":"string"},{"name":"NavigatorData","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveDeviceIntelligenceResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["SaveDeviceIntelligence"],"operationId":"SaveDeviceIntelligence_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"DeviceId","in":"query","type":"string"},{"name":"NavigatorData","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SaveDeviceIntelligence"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveDeviceIntelligenceResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["SaveDeviceIntelligence"],"operationId":"SaveDeviceIntelligence_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"DeviceId","in":"query","type":"string"},{"name":"NavigatorData","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SaveDeviceIntelligence"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveDeviceIntelligenceResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["SaveDeviceIntelligence"],"operationId":"SaveDeviceIntelligence_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TokenGuid","in":"query","type":"string","x-nullable":false},{"name":"DeviceId","in":"query","type":"string"},{"name":"NavigatorData","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveDeviceIntelligenceResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/CreateToken":{"get":{"tags":["CreateToken"],"operationId":"CreateToken_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"Name","in":"query","type":"string"},{"name":"Address1","in":"query","type":"string"},{"name":"City","in":"query","type":"string"},{"name":"State","in":"query","type":"string"},{"name":"PostalCode","in":"query","type":"string"},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"AuthToken","in":"query","type":"string"},{"name":"TermsVersion","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["CreateToken"],"operationId":"CreateToken_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"Name","in":"query","type":"string"},{"name":"Address1","in":"query","type":"string"},{"name":"City","in":"query","type":"string"},{"name":"State","in":"query","type":"string"},{"name":"PostalCode","in":"query","type":"string"},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"AuthToken","in":"query","type":"string"},{"name":"TermsVersion","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["CreateToken"],"operationId":"CreateToken_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"Name","in":"query","type":"string"},{"name":"Address1","in":"query","type":"string"},{"name":"City","in":"query","type":"string"},{"name":"State","in":"query","type":"string"},{"name":"PostalCode","in":"query","type":"string"},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"AuthToken","in":"query","type":"string"},{"name":"TermsVersion","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/CreateToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["CreateToken"],"operationId":"CreateToken_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"Name","in":"query","type":"string"},{"name":"Address1","in":"query","type":"string"},{"name":"City","in":"query","type":"string"},{"name":"State","in":"query","type":"string"},{"name":"PostalCode","in":"query","type":"string"},{"name":"SaveOnFile","in":"query","type":"boolean","x-nullable":false},{"name":"AuthToken","in":"query","type":"string"},{"name":"TermsVersion","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CreateTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/SaveToken":{"get":{"tags":["SaveToken"],"operationId":"SaveToken_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"put":{"tags":["SaveToken"],"operationId":"SaveToken_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SaveToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"post":{"tags":["SaveToken"],"operationId":"SaveToken_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/SaveToken"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"delete":{"tags":["SaveToken"],"operationId":"SaveToken_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"SessionGuid","in":"query","type":"string","x-nullable":false},{"name":"TermsVersion","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SaveTokenResponse"}}},"deprecated":false,"security":[{"Bearer":[]}]},"parameters":[{"$ref":"#/parameters/Accept"}]},"/UpdateCustomerRetryNotification":{"get":{"tags":["UpdateCustomerRetryNotification"],"operationId":"UpdateCustomerRetryNotification_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UpdateCustomerRetryNotificationResponse"}}},"deprecated":false},"put":{"tags":["UpdateCustomerRetryNotification"],"operationId":"UpdateCustomerRetryNotification_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/UpdateCustomerRetryNotification"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UpdateCustomerRetryNotificationResponse"}}},"deprecated":false},"post":{"tags":["UpdateCustomerRetryNotification"],"operationId":"UpdateCustomerRetryNotification_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/UpdateCustomerRetryNotification"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UpdateCustomerRetryNotificationResponse"}}},"deprecated":false},"delete":{"tags":["UpdateCustomerRetryNotification"],"operationId":"UpdateCustomerRetryNotification_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UpdateCustomerRetryNotificationResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/AutoPayCustomerRetry":{"get":{"tags":["AutoPayCustomerRetry"],"operationId":"AutoPayCustomerRetry_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AutoPayCustomerRetryResponse"}}},"deprecated":false},"put":{"tags":["AutoPayCustomerRetry"],"operationId":"AutoPayCustomerRetry_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AutoPayCustomerRetry"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AutoPayCustomerRetryResponse"}}},"deprecated":false},"post":{"tags":["AutoPayCustomerRetry"],"operationId":"AutoPayCustomerRetry_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false},{"name":"body","in":"body","schema":{"$ref":"#/definitions/AutoPayCustomerRetry"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AutoPayCustomerRetryResponse"}}},"deprecated":false},"delete":{"tags":["AutoPayCustomerRetry"],"operationId":"AutoPayCustomerRetry_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PaymentGuid","in":"query","type":"string","x-nullable":false}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AutoPayCustomerRetryResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ping":{"get":{"tags":["ping"],"operationId":"Ping_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"put":{"tags":["ping"],"operationId":"Ping_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/Ping"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"post":{"tags":["ping"],"operationId":"Ping_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/Ping"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"delete":{"tags":["ping"],"operationId":"Ping_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/ping/{Name}":{"get":{"tags":["ping"],"operationId":"PingName_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"put":{"tags":["ping"],"operationId":"PingName_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"path","type":"string","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/Ping"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"post":{"tags":["ping"],"operationId":"PingName_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"path","type":"string","required":true},{"name":"body","in":"body","schema":{"$ref":"#/definitions/Ping"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"delete":{"tags":["ping"],"operationId":"PingName_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Name","in":"path","type":"string","required":true}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PingResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/FiservPostback":{"get":{"tags":["FiservPostback"],"operationId":"FiservPostback_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"AuthCode","in":"query","type":"string"},{"name":"Card","in":"query","type":"string"},{"name":"GatewayRefId","in":"query","type":"string"},{"name":"Error","in":"query","type":"boolean","x-nullable":false},{"name":"Reason","in":"query","type":"string"},{"name":"GatewayReason","in":"query","type":"string"},{"name":"ZeroDollarAuth","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FiservPostbackResponse"}}},"deprecated":false},"put":{"tags":["FiservPostback"],"operationId":"FiservPostback_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"AuthCode","in":"query","type":"string"},{"name":"Card","in":"query","type":"string"},{"name":"GatewayRefId","in":"query","type":"string"},{"name":"Error","in":"query","type":"boolean","x-nullable":false},{"name":"Reason","in":"query","type":"string"},{"name":"GatewayReason","in":"query","type":"string"},{"name":"ZeroDollarAuth","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/FiservPostback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FiservPostbackResponse"}}},"deprecated":false},"post":{"tags":["FiservPostback"],"operationId":"FiservPostback_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"AuthCode","in":"query","type":"string"},{"name":"Card","in":"query","type":"string"},{"name":"GatewayRefId","in":"query","type":"string"},{"name":"Error","in":"query","type":"boolean","x-nullable":false},{"name":"Reason","in":"query","type":"string"},{"name":"GatewayReason","in":"query","type":"string"},{"name":"ZeroDollarAuth","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/FiservPostback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FiservPostbackResponse"}}},"deprecated":false},"delete":{"tags":["FiservPostback"],"operationId":"FiservPostback_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"AuthCode","in":"query","type":"string"},{"name":"Card","in":"query","type":"string"},{"name":"GatewayRefId","in":"query","type":"string"},{"name":"Error","in":"query","type":"boolean","x-nullable":false},{"name":"Reason","in":"query","type":"string"},{"name":"GatewayReason","in":"query","type":"string"},{"name":"ZeroDollarAuth","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/FiservPostbackResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/RepayAuthPostback":{"get":{"tags":["RepayAuthPostback"],"operationId":"RepayAuthPostback_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"put":{"tags":["RepayAuthPostback"],"operationId":"RepayAuthPostback_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RepayAuthPostback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"post":{"tags":["RepayAuthPostback"],"operationId":"RepayAuthPostback_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RepayAuthPostback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"delete":{"tags":["RepayAuthPostback"],"operationId":"RepayAuthPostback_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]},"/RepayCardVaultPostback":{"get":{"tags":["RepayCardVaultPostback"],"operationId":"RepayCardVaultPostback_Get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"put":{"tags":["RepayCardVaultPostback"],"operationId":"RepayCardVaultPostback_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RepayCardVaultPostback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"post":{"tags":["RepayCardVaultPostback"],"operationId":"RepayCardVaultPostback_Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/RepayCardVaultPostback"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"delete":{"tags":["RepayCardVaultPostback"],"operationId":"RepayCardVaultPostback_Delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"event_data","in":"query","type":"string"},{"name":"event_meta_data","in":"query","type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RepayPostbackResponse"}}},"deprecated":false},"parameters":[{"$ref":"#/parameters/Accept"}]}},"definitions":{"Object":{"properties":{},"description":"Object","type":"object"},"CreateSession":{"title":"CreateSession","properties":{"SessionItem":{"$ref":"#/definitions/SessionItem"}},"description":"CreateSession","type":"object"},"SessionItem":{"title":"SessionItem","properties":{"ApplicationId":{"type":"integer","format":"int32","x-nullable":false},"BearerToken":{"type":"string"},"ButtonText":{"type":"string"},"DisplaySaveOnFile":{"type":"boolean","x-nullable":false},"EmailAddress":{"type":"string"},"ExpiresAt":{"type":"string","format":"date-time","x-nullable":false},"GCID":{"type":"string"},"Lang":{"type":"string"},"LangBuster":{"type":"boolean","x-nullable":false},"SaveOnFile":{"type":"boolean","x-nullable":false},"Store":{"type":"string"},"TokenGuid":{"type":"string","x-nullable":false}},"description":"SessionItem","type":"object"},"AuthorizeSession":{"title":"AuthorizeSession","properties":{"SessionGuid":{"type":"string","x-nullable":false}},"description":"AuthorizeSession","type":"object"},"CustomerData":{"title":"CustomerData","properties":{"ApplicationId":{"type":"integer","format":"int32","x-nullable":false},"Email":{"type":"string"},"Language":{"type":"string"},"SaveOnFile":{"type":"boolean","x-nullable":false},"SessionGuid":{"type":"string","x-nullable":false},"TermsVersion":{"type":"string"},"TokenGuid":{"type":"string","x-nullable":false}},"description":"CustomerData","type":"object"},"MemoryBearerToken":{"title":"MemoryBearerToken","properties":{"SessionGuid":{"type":"string","x-nullable":false}},"description":"MemoryBearerToken","type":"object"},"MemoryTokenGuid":{"title":"MemoryTokenGuid","properties":{"SessionGuid":{"type":"string","x-nullable":false}},"description":"MemoryTokenGuid","type":"object"},"SaveDeviceIntelligence":{"title":"SaveDeviceIntelligence","properties":{"DeviceId":{"type":"string"},"NavigatorData":{"type":"string"},"TokenGuid":{"type":"string","x-nullable":false}},"description":"SaveDeviceIntelligence","type":"object"},"CreateToken":{"title":"CreateToken","properties":{"Address1":{"type":"string"},"AuthToken":{"type":"string"},"City":{"type":"string"},"Name":{"type":"string"},"PostalCode":{"type":"string"},"SaveOnFile":{"type":"boolean","x-nullable":false},"SessionGuid":{"type":"string","x-nullable":false},"State":{"type":"string"},"TermsVersion":{"type":"string"}},"description":"CreateToken","type":"object"},"SaveToken":{"title":"SaveToken","properties":{"SessionGuid":{"type":"string","x-nullable":false},"TermsVersion":{"type":"string"}},"description":"SaveToken","type":"object"},"UpdateCustomerRetryNotification":{"title":"UpdateCustomerRetryNotification","properties":{"PaymentGuid":{"type":"string","x-nullable":false}},"description":"UpdateCustomerRetryNotification","type":"object"},"AutoPayCustomerRetry":{"title":"AutoPayCustomerRetry","properties":{"PaymentGuid":{"type":"string","x-nullable":false}},"description":"AutoPayCustomerRetry","type":"object"},"Ping":{"title":"Ping","properties":{"Name":{"type":"string"}},"description":"Ping","type":"object"},"FiservPostback":{"title":"FiservPostback","properties":{"AuthCode":{"type":"string"},"Card":{"$ref":"#/definitions/Card"},"Error":{"type":"boolean","x-nullable":false},"GatewayReason":{"type":"string"},"GatewayRefId":{"type":"string"},"Reason":{"type":"string"},"ZeroDollarAuth":{"$ref":"#/definitions/ZeroDollarAuth"}},"description":"FiservPostback","type":"object"},"Card":{"title":"Card","properties":{"BIN":{"type":"string"},"Brand":{"type":"string"},"Last4":{"type":"string"},"Name":{"type":"string"},"Token":{"type":"string"},"Masked":{"type":"string"},"Exp":{"$ref":"#/definitions/Expiration"},"Address1":{"type":"string"},"City":{"type":"string"},"Region":{"type":"string"},"PostalCode":{"type":"string"}},"description":"Card","type":"object"},"Expiration":{"title":"Expiration","properties":{"Month":{"type":"string"},"Year":{"type":"string"}},"description":"Expiration","type":"object"},"ZeroDollarAuth":{"title":"ZeroDollarAuth","properties":{"CVV2":{"type":"string"},"AVS":{"$ref":"#/definitions/AVS"}},"description":"ZeroDollarAuth","type":"object"},"AVS":{"title":"AVS","properties":{"StreetMatch":{"type":"string"},"PostalCodeMatch":{"type":"string"},"AssociationAvsResponse":{"type":"string"}},"description":"AVS","type":"object"},"RepayAuthPostback":{"title":"RepayAuthPostback","properties":{"event_data":{"$ref":"#/definitions/RepayAuthEventData"},"event_meta_data":{"$ref":"#/definitions/EventMetaData"}},"description":"RepayAuthPostback","type":"object"},"RepayAuthEventData":{"title":"RepayAuthEventData","properties":{"request":{"$ref":"#/definitions/Request"},"result":{"$ref":"#/definitions/Result"},"timestamp":{"type":"string","format":"date-time"}},"description":"RepayAuthEventData","type":"object"},"Request":{"title":"Request","properties":{"gateway_mid":{"type":"string"},"amount":{"type":"string"},"amount_cents":{"type":"string"},"custom_fields":{"$ref":"#/definitions/CustomFields"},"customer_id":{"type":"string"},"invoice_number":{"type":"string"},"address":{"type":"string"},"card_brand":{"type":"string"},"card_expiration":{"type":"string"},"card_last_four":{"type":"string"},"card_bin":{"type":"string"},"card_name":{"type":"string"},"card_type":{"type":"string"},"nickname":{"type":"string"},"payment_channel":{"type":"string"}},"description":"Request","type":"object"},"CustomFields":{"title":"CustomFields","properties":{"PaymentChannel":{"type":"string"},"MultiPay":{"type":"string"},"SavePaymentMethod":{"type":"string"},"Brand":{"type":"string"},"StoreNumber":{"type":"string"},"ConvenienceFee":{"type":"string"},"CustomerSave":{"type":"string"},"SaveMyCard":{"type":"string"},"CustomerStreet":{"type":"string"},"CustomerCity":{"type":"string"},"CustomerState":{"type":"string"},"CustomerZip":{"type":"string"}},"description":"CustomFields","type":"object"},"Result":{"title":"Result","properties":{"host_code":{"type":"string"},"host_url":{"type":"string"},"last_batch_number":{"type":"string"},"message":{"type":"string"},"message1":{"type":"string"},"message2":{"type":"string"},"original_transaction_id":{"type":"string"},"pn_ref":{"type":"string"},"resp_msg":{"type":"string"},"result_code":{"type":"string"},"auth_code":{"type":"string"},"avs_result":{"$ref":"#/definitions/AvsResult"},"card_token":{"type":"string"},"commercial_card":{"type":"string"},"cv_result":{"type":"string"}},"description":"Result","type":"object"},"AvsResult":{"title":"AvsResult","properties":{"avs_response":{"type":"string"},"avs_response_msg":{"type":"string"},"zip_match":{"type":"string"},"street_match":{"type":"string"}},"description":"AvsResult","type":"object"},"EventMetaData":{"title":"EventMetaData","properties":{"version":{"type":"string"},"event_type":{"type":"string"}},"description":"EventMetaData","type":"object"},"RepayCardVaultPostback":{"title":"RepayCardVaultPostback","properties":{"event_data":{"$ref":"#/definitions/CardVaultEventData"},"event_meta_data":{"$ref":"#/definitions/EventMetaData"}},"description":"RepayCardVaultPostback","type":"object"},"CardVaultEventData":{"title":"CardVaultEventData","properties":{"gateway_mid":{"type":"string"},"custom_fields":{"$ref":"#/definitions/CustomFields"},"customer_id":{"type":"string"},"customer_key":{"type":"string"},"nickname":{"type":"string"},"stored_payment_id":{"type":"string"},"card_bin":{"type":"string"},"card_brand":{"type":"string"},"card_expiration":{"type":"string"},"card_last_four":{"type":"string"},"card_type":{"type":"string"},"customer_name":{"type":"string"},"is_eligible_for_disbursement":{"type":"boolean"},"stored_payment_type":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}},"description":"CardVaultEventData","type":"object"},"CreateSessionResponse":{"title":"CreateSessionResponse","properties":{"SessionGuid":{"type":"string","x-nullable":false},"Version":{"type":"integer","format":"int32","x-nullable":false},"ExpiresAt":{"type":"string","format":"date-time","x-nullable":false}},"description":"CreateSessionResponse","type":"object"},"AuthorizeSessionResponse":{"title":"AuthorizeSessionResponse","properties":{"ClientToken":{"type":"string"},"PublicKeyBase64":{"type":"string"},"PublicKey":{"type":"string"},"OneTimeUrl":{"type":"string"},"ResponseStatus":{"$ref":"#/definitions/ResponseStatus"}},"description":"AuthorizeSessionResponse","type":"object"},"ResponseStatus":{"title":"ResponseStatus","properties":{"ErrorCode":{"type":"string"},"Message":{"type":"string"},"StackTrace":{"type":"string"},"Errors":{"type":"array","items":{"$ref":"#/definitions/ResponseError"}},"Meta":{"$ref":"#/definitions/Dictionary_String_String_"}},"description":"ResponseStatus","type":"object"},"ResponseError":{"title":"ResponseError","properties":{"ErrorCode":{"type":"string"},"FieldName":{"type":"string"},"Message":{"type":"string"},"Meta":{"$ref":"#/definitions/Dictionary_String_String_"}},"description":"ResponseError","type":"object"},"Dictionary_String_String_":{"title":"Dictionary<String,String>","additionalProperties":{"type":"string"},"description":"Dictionary<String,String>","type":"object"},"CustomerDataResponse":{"title":"CustomerDataResponse","properties":{"CreditCardType":{"type":"string"},"Last4":{"type":"string"},"Expiration":{"type":"string"},"Result":{"type":"string"},"FirstName":{"type":"string"},"LastName":{"type":"string"},"DeliveryAddress":{"$ref":"#/definitions/DeliveryAddress"},"BINData":{"type":"string"}},"description":"CustomerDataResponse","type":"object"},"DeliveryAddress":{"title":"DeliveryAddress","properties":{"Address1":{"type":"string"},"City":{"type":"string"},"State":{"type":"string"},"ZipCode":{"type":"string"}},"description":"DeliveryAddress","type":"object"},"MemoryBearerTokenResponse":{"title":"MemoryBearerTokenResponse","properties":{"BearerToken":{"type":"string"},"Result":{"type":"string"},"ResponseStatus":{"$ref":"#/definitions/ResponseStatus"}},"description":"MemoryBearerTokenResponse","type":"object"},"MemoryTokenGuidResponse":{"title":"MemoryTokenGuidResponse","properties":{"TokenGuid":{"type":"string","x-nullable":false},"Result":{"type":"string"},"ResponseStatus":{"$ref":"#/definitions/ResponseStatus"}},"description":"MemoryTokenGuidResponse","type":"object"},"SaveDeviceIntelligenceResponse":{"title":"SaveDeviceIntelligenceResponse","properties":{"ResponseStatus":{"$ref":"#/definitions/ResponseStatus"}},"description":"SaveDeviceIntelligenceResponse","type":"object"},"CreateTokenResponse":{"title":"CreateTokenResponse","properties":{"CreditCardType":{"type":"string"},"Last4":{"type":"string"},"Expiration":{"type":"string"},"Result":{"type":"string"},"FirstName":{"type":"string"},"LastName":{"type":"string"},"DeliveryAddress":{"$ref":"#/definitions/DeliveryAddress"},"BINData":{"type":"string"}},"description":"CreateTokenResponse","type":"object"},"SaveTokenResponse":{"title":"SaveTokenResponse","properties":{"CreditCardType":{"type":"string"},"Last4":{"type":"string"},"Expiration":{"type":"string"},"Result":{"type":"string"},"FirstName":{"type":"string"},"LastName":{"type":"string"},"DeliveryAddress":{"$ref":"#/definitions/DeliveryAddress"},"BINData":{"type":"string"}},"description":"SaveTokenResponse","type":"object"},"UpdateCustomerRetryNotificationResponse":{"title":"UpdateCustomerRetryNotificationResponse","properties":{"ResponseStatus":{"$ref":"#/definitions/ResponseStatus"}},"description":"UpdateCustomerRetryNotificationResponse","type":"object"},"AutoPayCustomerRetryResponse":{"title":"AutoPayCustomerRetryResponse","properties":{"PaymentResponse":{"$ref":"#/definitions/PaymentResponse"},"ResponseStatus":{"$ref":"#/definitions/ResponseStatus"}},"description":"AutoPayCustomerRetryResponse","type":"object"},"PaymentResponse":{"title":"PaymentResponse","properties":{"PaymentGuid":{"type":"string","x-nullable":false},"PaymentStatus":{"$ref":"#/definitions/PaymentStatus"},"IsDuplicate":{"type":"boolean","x-nullable":false},"AuthorizationCode":{"type":"string"},"PaymentDateTime":{"type":"string","format":"date-time","x-nullable":false},"ReferenceNumber":{"type":"integer","format":"int64","x-nullable":false},"IsRetryable":{"type":"boolean","x-nullable":false},"PaymentResponseMessage":{"type":"string"},"MaskedAccountNumber":{"type":"string"}},"description":"PaymentResponse","type":"object"},"PaymentStatus":{"title":"PaymentStatus","properties":{"Status":{"type":"string"},"CreditCardPaymentStatusId":{"type":"integer","format":"int32"},"CreditCardProcessorStatusId":{"type":"integer","format":"int32"},"CreditCardPaymentResponseStatusId":{"type":"integer","format":"int32"}},"description":"PaymentStatus","type":"object"},"PingResponse":{"title":"PingResponse","properties":{"Result":{"type":"string"}},"description":"PingResponse","type":"object"},"FiservPostbackResponse":{"title":"FiservPostbackResponse","properties":{"Result":{"type":"string"}},"description":"FiservPostbackResponse","type":"object"},"RepayPostbackResponse":{"title":"RepayPostbackResponse","properties":{"Result":{"type":"string"}},"description":"RepayPostbackResponse","type":"object"}},"parameters":{"Accept":{"name":"Accept","in":"header","description":"Accept Header","type":"string","required":true,"enum":["application/json"]}},"securityDefinitions":{"Bearer":{"type":"apiKey","name":"Authorization","in":"header"}},"tags":[{"name":"AuthorizeSession"},{"name":"AutoPayCustomerRetry"},{"name":"CreateSession"},{"name":"CreateToken"},{"name":"CustomerData"},{"name":"FiservPostback"},{"name":"MemoryBearerToken"},{"name":"MemoryTokenGuid"},{"name":"RepayAuthPostback"},{"name":"RepayCardVaultPostback"},{"name":"SaveDeviceIntelligence"},{"name":"SaveToken"},{"name":"UpdateCustomerRetryNotification"},{"name":"ping"}]}